body {
	color: #333333;
	font-family: arial;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
	margin-left: 5px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #000000;
	color: white;
	margin-left: 15%;
	padding: 8px;
}

span {
	font-weight: bold;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
th,
td {
	padding: 5px;
}

table {
	margin-top: 10%;
}
